.header_container {
  /* position: fixed; */
  background: white;
  width: 100%;
  padding-bottom: 20px;
  z-index: 2;
}
.center_name {
  color: #4c4b4b;
  font-size: 2.5vmin;
  font-weight: 300;
  align-self: flex-end;
}

.content_container {
  height: 57px;
  border-bottom: solid 1px #d22238;
  padding: 0 10vmin;
  position: relative;
  display: flex;
}
.center_name_mobile {
  display: none;
}

@media only screen and (max-width: 414px) {
  .content_container {
    padding: 0 7vmin;
  }
  .shadow {
    box-shadow: 0px 1px 5px 0px #e0e0e0;
  }
  .header_container {
    position: relative;
    padding-bottom: 10px;
  }
  .center_name {
    display: none;
  }
  .center_name_mobile {
    display: block;
    color: #4c4b4b;
    font-size: 5.7vmin;
    font-weight: 200;
    text-align: center;
    margin: 20px 0 0 0;
  }
}

@media (prefers-color-scheme: dark) {
  .header_container {
    background: #272727;
  }
  .center_name {
    color: var(--main-text-color);
  }
  .center_name_mobile {
    color: var(--main-text-color);
  }
}
